{
  "*.md": [
    "yarn eslint --quiet",
    "yarn prettier --list-different --config ./.prettiermarkdownrc",
    "yarn markdownlint",
    "yarn lint:sidebar"
  ],
  "*.js": [
    "yarn eslint --quiet",
    "yarn prettier --list-different --config ./.prettierrc"
  ]
}