{
  "*.md": [
    "yarn eslint --quiet",
    "yarn prettier --list-different --config ./.prettiermarkdownrc",
    "yarn markdownlint"
  ],
  "*.js": [
    "yarn eslint --quiet",
    "yarn prettier --list-different --config ./.prettierrc"
  ]
}